body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* 禁止水平滚动 */
  overflow-y: hidden;
}

#container {
  display: flex;
  flex-direction: row;
}

h1 {
  text-align: center; /* 居中对齐 */
  margin-top: 20px; /* 设置顶部外边距 */
  margin-bottom: 20px; /* 设置底部外边距 */
  font-size: 32px; /* 调整字体大小 */
  font-weight: bold; /* 设置加粗 */
}
h2 {
  font-size: 20px; /* 设置小标题字体大小 */
  margin-bottom: 10px; /* 设置小标题底部外边距 */
  text-align: center; /* 小标题居中对齐 */
}

/* 世界地图小标题样式 */
#map-title {
  margin-top: 50px; /* 向下移动 */
  margin-bottom: 20px;
  text-align: left; /* 左对齐 */
  font-size: 20px;
  padding-left: 300px; /* 向右移动 */
}

/* 平行坐标图小标题样式 */
#parcoords-title {
  margin-top: 30px;
  margin-bottom: 20px;
  text-align: center; /* 居中对齐 */
  font-size: 20px;
}

/* 折线图小标题样式 */
#line-chart-title {
  margin-top: 50px;
  margin-bottom: 20px;
  text-align: center; /* 居中对齐 */
  font-size: 20px;
  margin-top: 650px; /* 向下移动 */
  margin-left: -2600px; /* 向左移动 */
}


#map {
  border: 1px solid #ddd;
  margin-bottom: 50px; /* 添加底部外边距，避免与平行坐标图重合 */
  margin-top: 0px; /* 设置向下移动的距离 */
  margin-right: 20px; 
}

#parcoords {
  right:0;
  width: 1000px;
  bottom:0;
  margin-top: 0px; /* 设置向下移动的距离 */
}

.country-label {
  font-size: 10px;
  fill: black;
  text-anchor: middle;
}

.country-label1 {
  font-size: 20px;
  text-anchor: middle;
}

.tooltip {
  position: absolute;
  text-align: center;
  padding: 8px;
  font-size: 12px;
  background: lightgray;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}

/* 添加对轴标签的样式 */
.axis text {
  font-size: 12px;
  fill: black;
  text-anchor: middle;
}

.button {
  position: absolute;
  font-size: 16px; /* 增加字体大小 */
  padding: 12px 24px; /* 增加内边距 */
  background-color: #28a745; /* 设置背景颜色 */
  color: white; /* 设置字体颜色 */
  border: none; /* 移除边框 */
  border-radius: 8px; /* 设置圆角 */
  cursor: pointer; /* 设置鼠标指针 */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 添加阴影 */
  transition: background-color 0.3s, transform 0.3s; /* 添加过渡效果 */
}

.button:hover {
  background-color: #218838; /* 设置悬停时的背景颜色 */
  transform: translateY(-2px); /* 悬停时向上移动 */
}

.button:active {
  background-color: #1e7e34; /* 设置点击时的背景颜色 */
  transform: translateY(0); /* 点击时恢复原位 */
}

#toggleProjection {
  top: 100px; /* 设置按钮距离顶部的距离 */
  left: 20px; /* 设置按钮距离左侧的距离 */
  font-size: 10px; /* 设置字体大小 */
  width: 90px; /* 设置按钮的宽度 */
  height: 30px; /* 设置按钮的高度 */
}

#toggleRotation {
  top: 140px; /* 设置按钮距离顶部的距离 */
  left: 20px; /* 设置按钮距离左侧的距离 */
  font-size: 10px; /* 设置字体大小 */
  width: 90px; /* 设置按钮的宽度 */
  height: 30px; /* 设置按钮的高度 */
}

#swapButton.toggleSwap {
  position: absolute; /* 设置为绝对定位 */
  top: 230px; /* 设置按钮距离顶部的距离 */
  left: 665px; /* 设置按钮距离左侧的距离 */
  background-color: #1869c0; /* 设置背景颜色 */
  color: white; /* 设置字体颜色 */
  border: none; /* 移除边框 */
  border-radius: 8px; /* 设置圆角 */
  cursor: pointer; /* 设置鼠标指针 */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 添加阴影 */
  transition: background-color 0.3s, transform 0.3s; /* 添加过渡效果 */
  padding: 12px 24px; /* 设置内边距 */
  font-size: 10px; /* 设置字体大小 */
  width: 100px; /* 设置按钮宽度 */
}

#swapButton.toggleSwap:hover {
  background-color: #0056b3; /* 设置悬停时的背景颜色 */
  transform: translateY(-2px); /* 悬停时向上移动 */
}

#swapButton.toggleSwap:active {
  background-color: #004085; /* 设置点击时的背景颜色 */
  transform: translateY(0); /* 点击时恢复原位 */
}

#resetButton {
  position: absolute; /* 设置为绝对定位 */
  top: 405px; /* 设置按钮距离顶部的距离 */
  left: 665px; /* 设置按钮距离左侧的距离 */
  background-color: #1869c0; /* 设置背景颜色 */
  color: white; /* 设置字体颜色 */
  border: none; /* 移除边框 */
  border-radius: 8px; /* 设置圆角 */
  cursor: pointer; /* 设置鼠标指针 */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 添加阴影 */
  transition: background-color 0.3s, transform 0.3s; /* 添加过渡效果 */
  padding: 12px 24px; /* 设置内边距 */
  font-size: 10px; /* 设置字体大小 */
  width: 100px; /* 设置按钮宽度 */
}

#resetButton:hover {
  background-color: #0654a7; /* 设置悬停时的背景颜色 */
  transform: translateY(-2px); /* 悬停时向上移动 */
}

#resetButton:active {
  background-color: #033973; /* 设置点击时的背景颜色 */
  transform: translateY(0); /* 点击时恢复原位 */
}

#column1-label,
#column2-label,#metric-select {
  position: absolute; /* 设置为绝对定位 */
  left: 20px; /* 设置标签距离左侧的距离 */
  font-size: 16px; /* 设置字体大小 */
  font-weight: bold; /* 设置字体加粗 */
  color: #333; /* 设置字体颜色 */
}

#column1-label {
  top: 280px; /* 设置标签距离顶部的距离 */
  left:650px;
}

#column2-label {
  top: 340px; /* 设置标签距离顶部的距离 */
  left:650px;
}

#column1,
#column2 {
  position: absolute; /* 设置为绝对定位 */
  font-size: 10px; /* 设置字体大小 */
  padding: 10px 15px; /* 设置内边距 */
  border: 1px solid #ccc; /* 设置边框 */
  border-radius: 4px; /* 设置圆角 */
  background-color: #f9f9f9; /* 设置背景颜色 */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 添加阴影 */
  transition: border-color 0.3s, box-shadow 0.3s; /* 添加过渡效果 */
  appearance: none; /* 移除默认的下拉箭头 */
  -webkit-appearance: none; /* 移除默认的下拉箭头（Webkit浏览器） */
  -moz-appearance: none; /* 移除默认的下拉箭头（Firefox） */
  background-image: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="gray" class="bi bi-chevron-down" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/></svg>'); /* 添加自定义下拉箭头 */
  background-repeat: no-repeat; /* 防止背景图像重复 */
  background-position: right 10px center; /* 设置背景图像的位置 */
  background-size: 16px 16px; /* 设置背景图像的大小 */
}

#column1 {
  top: 305px; /* 设置选择框距离顶部的距离 */
  left:650px;
}

#column2 {
  top: 365px; /* 设置选择框距离顶部的距离 */
  left: 650px;
}

#metric-select{
  top: 200px; /* 设置选择框距离顶部的距离 */
  left: 642px;
  width: 140px; /* 设置选择框的宽度 */
  height: 20px; /* 设置选择框的高度 */
}
.filter-container {
  position: absolute;
  top: 160px;
  right: 20px;
  background-color: white;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

column1:hover,
#column2:hover,
#metric-select:hover {
  border-color: #2892bc; /* 设置悬停时的边框颜色 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 设置悬停时的阴影 */
}

#column1:focus,
#column2:focus,
#metric-select:focus {
  border-color: #007bff; /* 设置聚焦时的边框颜色 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 设置聚焦时的阴影 */
  outline: none; /* 移除默认的聚焦样式 */
}

#filterButton {
  position: absolute; /* 设置为绝对定位 */
  top: 160px; /* 设置按钮距离顶部的距离 */
  left: 665px; /* 设置按钮距离左侧的距离 */
  background-color: #1869c0; /* 设置背景颜色 */
  color: white; /* 设置字体颜色 */
  border: none; /* 移除边框 */
  border-radius: 8px; /* 设置圆角 */
  cursor: pointer; /* 设置鼠标指针 */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 添加阴影 */
  transition: background-color 0.3s, transform 0.3s; /* 添加过渡效果 */
  padding: 12px 24px; /* 设置内边距 */
  font-size: 10px; /* 设置字体大小 */
  width: 100px; /* 设置按钮宽度 */
}

#filterButton:hover {
  background-color: #0654a7; /* 设置悬停时的背景颜色 */
  transform: translateY(-2px); /* 悬停时向上移动 */
}

#filterButton:active {
  background-color: #033973; /* 设置点击时的背景颜色 */
  transform: translateY(0); /* 点击时恢复原位 */
}

#clearButton {
  position: absolute; /* 设置为绝对定位 */
  top: 850px; /* 设置按钮距离顶部的距离 */
  left: 640px; /* 设置按钮距离左侧的距离 */
  background-color: #28a745; /* 设置背景颜色 */
  color: white; /* 设置字体颜色 */
  border: none; /* 移除边框 */
  border-radius: 8px; /* 设置圆角 */
  cursor: pointer; /* 设置鼠标指针 */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 添加阴影 */
  transition: background-color 0.3s, transform 0.3s; /* 添加过渡效果 */
  padding: 12px 24px; /* 设置内边距 */
  font-size: 10px; /* 设置字体大小 */
  width: 100px; /* 设置按钮宽度 */
  z-index: 1000; /* 确保按钮位于其他元素的上方 */
}

#clearButton:hover {
  background-color: #218838; /* 设置悬停时的背景颜色 */
  transform: translateY(-2px); /* 悬停时向上移动 */
}

#clearButton:active {
  background-color: #1e7e34; /* 设置点击时的背景颜色 */
  transform: translateY(0); /* 点击时恢复原位 */
}

#toggleModeButton {
  position: absolute; /* 设置为绝对定位 */
  top: 450px; /* 设置按钮距离顶部的距离 */
  left: 665px; /* 设置按钮距离左侧的距离 */
  background-color: #1869c0; /* 设置背景颜色 */
  color: white; /* 设置字体颜色 */
  border: none; /* 移除边框 */
  border-radius: 8px; /* 设置圆角 */
  cursor: pointer; /* 设置鼠标指针 */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 添加阴影 */
  transition: background-color 0.3s, transform 0.3s; /* 添加过渡效果 */
  padding: 12px 24px; /* 设置内边距 */
  font-size: 10px; /* 设置字体大小 */
  width: 100px; /* 设置按钮宽度 */
}

#toggleModeButton:hover {
  background-color: #0654a7; /* 设置悬停时的背景颜色 */
  transform: translateY(-2px); /* 悬停时向上移动 */
}

#toggleModeButton:active {
  background-color: #033973; /* 设置点击时的背景颜色 */
  transform: translateY(0); /* 点击时恢复原位 */
}

#clearButton1 {
  position: absolute; /* 设置为绝对定位 */
  top: 510px; /* 设置按钮距离顶部的距离 */
  left: 665px; /* 设置按钮距离左侧的距离 */
  background-color: #1869c0; /* 设置背景颜色 */
  color: white; /* 设置字体颜色 */
  border: none; /* 移除边框 */
  border-radius: 8px; /* 设置圆角 */
  cursor: pointer; /* 设置鼠标指针 */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 添加阴影 */
  transition: background-color 0.3s, transform 0.3s; /* 添加过渡效果 */
  padding: 12px 24px; /* 设置内边距 */
  font-size: 10px; /* 设置字体大小 */
  width: 100px; /* 设置按钮宽度 */
}

#clearButton1:hover {
  background-color: #0654a7; /* 设置悬停时的背景颜色 */
  transform: translateY(-2px); /* 悬停时向上移动 */
}

#clearButton1:active {
  background-color: #033973; /* 设置点击时的背景颜色 */
  transform: translateY(0); /* 点击时恢复原位 */
}

#line_chart {
  position: absolute;
  bottom: 0;
  left: 10px;
  width: 100%; /* 根据需要调整宽度 */
  height: 400px; /* 根据需要调整高度 */
}